<div class="footer" style='position: static; left: 0; bottom: 0; padding: 30px; background-color: #7a7978;
   color: white;
   text-align: center;'>
  <div class="template-demo" style="display: inline;"> <button type="button" class="btn btn-social-icon btn-outline-facebook"><i class="fa fa-facebook"></i></button>
    <button type="button" class="btn btn-social-icon btn-outline-youtube"><i class="fa fa-youtube"></i></button>
    <button type="button" class="btn btn-social-icon btn-outline-twitter"><i class="fa fa-twitter"></i></button>
    <button type="button" class="btn btn-social-icon btn-outline-dribbble"><i class="fa fa-dribbble"></i></button>
    <button type="button" class="btn btn-social-icon btn-outline-linkedin"><i class="fa fa-linkedin"></i></button>
    <button type="button" class="btn btn-social-icon btn-outline-instagram"><i class="fa fa-instagram"></i></button>
  </div>
</div>

<footer id="subfooter" class="clearfix" style="color: white;background-color: #7a7978;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa fa-laptop"></span> OUR OFFERS</p>
                <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p>
            </div>
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-clock-o"></span> LAST NEWS</p>
                <p>What is Lorem Ipsum?</p>
				<p>Where does it come from?</p>
                <p>Where can I get some?</p>
            </div>
			<div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-map-marker"></span> CONTACTS</p>
                <p>####, Thika Rd, Kenya</p>
                <p>+254 888 455 6677</p>
                <p><a href="mailto:mail@example.com">mail@example.com</a></p>
            </div>
            <div class="col-md-3">
                <p style="font-size:18px;"><span class="fa fa-envelope-o"></span> NEWSLETTER</p>
                <p>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your email..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Subscribe</button>
                        </span>
                    </div>
                </p>
                <br />
            </div>
        </div>
    </div>
</footer>
