{%extends 'all/base.html'%}
{% load bootstrap4 %}
{% include "cont.html" %}
{{block.super}}
{% block content %}
<div class="card" style="border-color:white">
  <div class="card-heading">
    <img src="media/images/fruit.png" alt="Card image" style="width: 100%;
    height: 15vw;
    object-fit: cover;">
  </div>
</div> <br>
{% for all in article%}
  {% if forloop.counter0|divisibleby:3 %} <div class="row text-center"> {%  endif %}
  <div class="col-md-4" >
    <div class="card" style="">
      <div class="card-header" style="background:white">
        {{ all.title }}
      </div>
      <div class="card-body">
        <h5 class="card-title"><img src="{{ all.article_img.url }}" alt="jpg" style="width: 100%;
        height: 15vw;
        object-fit: cover;"/></h5>
        <p class="card-text"></p>
        <a href="#!" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

<br>
{%  if forloop.counter|divisibleby:3 or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
{% endfor %}
{% endblock %}
